version: '3.8'

services:
  web:
    build:
      context: ./
    working_dir: /app
  command: npm run dev -- --host 0.0.0.0 --port 5174
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - '5174:5174'
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true
